*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input{
    outline: none;
    border: none;
}
html,body{
    font-size: 20px !important;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 禁止链接高亮 */
    -webkit-touch-callout: none;
    /* 禁止链接长按时弹出选项 */
    background:#f5f5f5;
}

/* 媒体查询 */
@media screen and (min-width:375px){
    html,body{
        font-size: 20px !important;
    }
}
@media screen and (min-width:414px){
    html,body{
        font-size: 22.08px !important;
    }
}
@media screen and (min-width:768px){
    html,body{
        font-size: 40.96px !important;
    }
}
