.main{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
font-size: 0.75rem;
margin-top: 0.5rem;
margin-bottom: 2.5rem;
}
.main .item{
width: 47%;
border: 1px solid #ccc;
margin-top: 0.5rem;
}
.main .item img{
width: 100%;
}
.main .item .title{
    margin: 0 4px;
    
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.main .item .price,.xiao{
    display: flex;
    justify-content: space-between;
}
.main .item .price{
    margin: 0 4px;
text-align: center;
margin-top: 5px;
}
.main .item .price .price-left::before{
    content: '￥';
}
.main .item .price .price-left{
  color: red;
  font-size: 0.8rem;
}
.main .item .price .price-right::before{
    content: '￥';
}
.main .item .price .price-right{
    text-decoration: line-through;
    color: silver;
}
.main .item .xiao{
    margin: 0 4px;
    color: silver;
    margin-bottom: 5px;
}
